/* Add your own CSS here to build on top of Simple.css */
.post-link {
	font-size: 1.6rem;
	font-weight: bold;
}

.meta {
	color: var(--text-light);
	font-size: 1rem;
}

.blog-item {
	margin-bottom: 4cqmax;
}

.blog-li {
	list-style-type: none;
	margin-left: 0;
}
ul {
	padding-left: 0;
}

.post_date {
	font-size: 0.8rem;
	font-weight: light;
}

nav a.current {
	color: var(--accent) !important;
}

section {
	margin-bottom: 60px;
}

.brand {
	font-size: 2rem;
	font-weight: bold;
	color: var(--accent);
}

footer {
	text-align: center;
}
img {
	width: 100%;
}

nav ul li a {
	text-decoration: none;
}

// hamburger menu

/* These two lines make the checkbox and the label disappear when we are in desktop mode. */
nav input[type='checkbox'],
nav label {
	display: none;
}

/* This start to get interesting: we go into mobile phone mode */
@media (width < 576px) {
	/* Here is the magic: if the checkbox is not marked, the adjacent list is not displayed */
	input[type='checkbox']:not(:checked) + ul {
		display: none;
	}

	nav {
		flex-direction: row;
		flex-wrap: wrap;
		margin-left: 0;
		margin-right: 0;
	}

	/* Stlying the menu icon, the checkbox stays hidden */
	nav label {
		text-align: right;
		display: block;
		padding: 0.5em;
		line-height: 1.6em;
		align-self: center;
	}

	/* Because we are in mobile mode, we want to display it as a vertical list */
	nav ul {
		display: block;
	}

	/* We have two lists: the first one are the always visibile items in the 
		menu bar. The second one is the one that will be hidden */
	nav ul:last-child {
		width: 100%;
		flex-basis: 100%;
	}

	nav ul li {
		margin-bottom: 0;
		width: 100%;
		text-align: right;
		padding: 0.5em;
	}
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	gap: 50px;
}
